.cart::after {
  content: "3";
  background-color: #1c8c64;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 8px;
  border-radius: 50px;
  padding: 4px 4px;
  line-height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px white solid;
}
