@tailwind base;
@tailwind components;
@tailwind utilities;

$xs: 480px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;
$xxxl: 1600px;

@import "typography";
@import "mixins";
@import "misc";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
